@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>CPS Data Admin</h2>
    </div>
    <div class="col text-right">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary btn"><i class="fas fa-user-plus"></i> Create Account</a>
</div>
</div>
<hr>
<h3 class="text-secondary">CPS Tables</h3>
<div class="mb-4 mt-4">
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                Search Options Tables
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Collection Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Color Range Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Dye Method Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Face Weight Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Fiber Type Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Pattern Scale Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Pattern Type Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Price Range Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Primary Backing Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Product Size Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Product Type Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Quickship Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Secondary Backing Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Service Level Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Sustainability Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Sustainability Search Options to Style Specs</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Warranty Search Options</a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Product Tables
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Color Specs</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Coordinating Products</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Ecolabels</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Images</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">LEED Data</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">QuickShip Tiers</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Service Levels</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Style Specs</a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                HardSurface Tables
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Hardsurface Specs</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HS Product Type Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Product Look Search Options</a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Hardwood Tables
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Hardwood Color Specs</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">Hardwood Specs</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Color Category Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Color Variation Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Country Available Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Gloss Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Grain Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Species Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Texture Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW TrafficLevel Search Options</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">HW Width Search Options</a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Other
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">ProductImageMixes</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">SC_CUSTOM_HARDSURFACE_X_SUNDRies</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">SCCustomCertifications</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">ScCustomCollectionMarketSegments</a></li>
                <li class="list-group-item"><a href="http://preview.fluidmedia.com/CPS_Data_Admin/dashboard.html">SCCustomSpecDatas</a></li>
            </ul>
        </div>
    </div>
</div>

